.explore-section {
  background: #fff;
}

.product-card {
  text-align: left;
}

.product-img-wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f8f9fa;
  border-radius: 12px;
}

.product-card {
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-img {
  object-fit: cover;
  width: 100% !important;
  height: 300px !important;
  transition: 0.3s;
}

.product-card:hover .product-img {
  transform: scale(1.05);
}

.rating {
  color: #f5b301;
  font-size: 14px;
}

.specs p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width:768px){
  .product-img-wrapper{
    height:250px;
  }
}
 

.bg-one-cc-1 
{
   font-size: 140px;
   font-weight: 800;
  background: linear-gradient(
  180deg,
  #0757e2 0%,
  #9ec5fe 60%,
  #ffffff 100%
);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
  white-space: nowrap;
 }
