/* Section spacing */


/* Center container */
.needhelp-container {
  margin: auto;
  text-align: center;
}

/* Heading */
.needhelp-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.needhelp-subtitle {
  color: #666;
  font-size: 16px;
  margin-bottom: 50px;
}

/* Grid layout */
.needhelp-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card design */
.needhelp-card {
  border: 1px solid #dcdcdc;
  border-radius: 16px;
  padding: 35px 25px;
  transition: 0.3s ease;
  background: #fff;
}

/* Hover effect */
.needhelp-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Icons */
.needhelp-icon {
  font-size: 28px;
  margin-bottom: 15px;
}

/* Card text */
.needhelp-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.needhelp-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}


/* Tablet */
@media (max-width: 900px) {
  .needhelp-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pagination Dots */
.needhelp-dots {
  display: none;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}

.needhelp-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.needhelp-dot.active {
  width: 14px;
  height: 6px;
  background: #3c2df1;
  border-radius: 4px;
}

/* Mobile */
@media (max-width: 600px) {
  .needhelp-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px 5px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .needhelp-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .needhelp-card {
    flex: 0 0 85%;
    scroll-snap-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  }

  .needhelp-wrapper {
    padding: 40px 20px;
  }

  .needhelp-title {
    font-size: 26px;
  }

  .needhelp-subtitle {
    margin-bottom: 30px;
  }

  .needhelp-dots {
    display: flex;
  }
}

