.inside-section {
  position: relative;
}

.feature-box {
  margin-bottom: 40px;
}

.feature-title {
  color: #1f5edb;
  font-weight: 700;
}

.circle-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  border-radius: 50%;
  object-fit: cover;
}

/* Hide mobile by default */
.mobile-layout {
  display: none;
}

/* Mobile Mode */
@media (max-width: 992px) {

  .desktop-layout {
    display: none;
  }

  .mobile-layout {
    display: block;
    text-align: center;
  }

  .center-glass-mobile {
    margin: 30px 0;
    display: flex;
    justify-content: center;
  }

}