  
  
  /* Feature icon */
  .feature-icon {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e9f4fb;
    border-radius: 50%;
    border: 1px solid #008AC7;
  }
  
  

  .custom-title {
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
    color: #565959;
    max-width: 300px; /* Adjust as needed */
    word-wrap: break-word; /* Break long words if necessary */
    text-align: center; /* Align the text in the center */
    white-space: normal; /* Allow text to wrap to the next line */
  }


  .background-benfits-container {
    background-image: url("../../asserts/environment.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    border-radius: 20px;
  }

  .benefitsbackground{
    background-image: url("../../asserts/lines.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    
  }
  
  .background-benfits-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    border-radius: 20px;
  }

  .text-benfits-overlay{
    position: absolute;
    right: 0%;
    background-color: #008AC7;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #FFF;
    padding: 10px;
  }

  .custom-card-benfts {
    background-color: #f9f9f9;
    box-shadow: 0 0 8px 0 rgba(35, 0, 76, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    border-radius: 20px;
    display: flex;
    height: auto; /* Ensures all cards have the same height */
    overflow: hidden;
    margin-bottom: 20px;
  }
/* 
.custom-card-benfts :hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
  } */



.custom-table {
  table-layout: auto;
  width: 100%;
  white-space: normal; /* Allow wrapping */
  border-collapse: collapse; /* Prevent extra space between borders */
}

.custom-table td, .custom-table th {
  padding: 10px; /* Ensure uniform padding */
  vertical-align: middle; /* Center-align vertically */
}

.custom-table th:nth-child(4), 
.custom-table td:nth-child(4) {
  width: 50%; /* Adjust as needed */
}

.d-flex {
  position: relative; /* Ensure relative positioning for the hover-line */
}

.hover-line {
  position: absolute;
  bottom: -5px; /* Adjust position below the content */
  left: 0;
  width: 0;
  height: 4px;
  background-color: #008ac7; /* Line color */
  transition: width 0.3s ease; /* Smooth animation */
}

.d-flex:hover .hover-line {
  width: 100%; /* Expand the line on hover */
}


.custom-image-benfts {
  object-fit: cover;
  width: 40%;
  height: auto;
}

  .benfitsheading{
    font-size: clamp(19px, 2.6vh, 30px);
  }
  .benfitsubheading{
    font-size: clamp(11px, 1.43vh, 16px);
  }
