.lead-name {
    max-width: 120px; /* Adjust width as needed */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.lead-name-email {
    max-width: 230px; /* Adjust width as needed */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}