.filterbutton {
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #008AC7;
  padding: 8px 12px;
  background-color: #FFF;
  cursor: pointer; /* Ensures the button appears clickable */
  transition: all 0.3s ease; /* Smooth transition for hover and active states */
} 


@font-face {
  font-family: 'MyCustomFont'; /* Define the font name */
  src: url('../../fonts/QuartzItalic.ttf') format('truetype');
}


.section-spacing {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .section-spacing {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}


/* Active button styling */
.activebutton {
  border: 1px solid #008AC7;
  border-radius: 30px;
  color: #FFF;
  background-color: #008AC7; /* Change background color for active state */
  font-weight: bold; /* Optional: make the text bold */
}

/* Optional: Hover effect for better UI feedback */
.filterbutton:hover {
  background-color: #e6f7ff;
  color: #008AC7;
}



.details-container{
  display: flex;
  background-color: #f0f1ec;
}

.detail-item {
  white-space: nowrap; /* Prevent breaking into multiple lines */
  font-size: 14px; /* Adjust font size */
  color: #333; /* Text color */
  border-radius:30px;
  border: 1px solid #FFF;
  background-color: #f3f4f0;
  padding: 8px;
}

.water-type {
  box-shadow: none; /* No shadow by default */
  transition: all 0.3s ease;
}

.water-type:hover {
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 60px; /* Rounded corners */
}

.touchpreviewnumber{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #3C9AF3;
  color: #FFF;
  font-size: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 10px;
}

.image-container {
  width: 80%;
  padding: 10px;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
}


.nmpboostbackground{
  background: linear-gradient(25deg, #008AC7 1%, #FFF 99%);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 0 32px 0 rgba(35, 0, 76, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

}



/* For small devices (up to 576px) */
@media (max-width: 767px) {
  .nmp5Display{
    position: absolute;
    width: 25%;
    height: auto;
    top: calc(34.7% + 1px);
    right: 12.5%;
    z-index: 0;
   }

   
.nmp-5-desktop-one-touch h2{
  color: #008AC7;
  font-weight: 700;
  font-size: clamp(16px, 2.08vw, 45px);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.nmp-5-desktop-one-touch p{
  font-size: clamp(12px, 1.56vw, 16px);
    color: #444; /* Slightly darker text for contrast */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }
}


/* For larger screens (1200px and above) */
@media (min-width: 768px) {
  .nmp5Display {
    position: absolute;
    width: 12.4%;
    height: auto;
    top: calc(18.9% + -2px);
    right: 12.9%;
    z-index: 0;
  }

  
.nmp-5-desktop-one-touch h2{
  color: #008AC7;
  font-weight: 700;
  font-size: clamp(14px, 2vw, 45px);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.nmp-5-desktop-one-touch p{
  font-size: clamp(14px, 4vw, 20px);
    color: #444; /* Slightly darker text for contrast */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }
}



.nmp-5-desktop-one-touch{
  position: absolute;
  top:2%;
  left:10%;
  width:50%;
  z-index: 999;
  text-align: center;
}

