.filterbutton {
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #008AC7;
  padding: 8px 12px;
  background-color: #FFF;
  cursor: pointer; /* Ensures the button appears clickable */
  transition: all 0.3s ease; /* Smooth transition for hover and active states */
} 


@font-face {
  font-family: 'MyCustomFont'; /* Define the font name */
  src: url('../../fonts/QuartzItalic.ttf') format('truetype');
}


.section-spacing {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .section-spacing {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}


/* Active button styling */
.activebutton {
  border: 1px solid #008AC7;
  border-radius: 30px;
  color: #FFF;
  background-color: #008AC7; /* Change background color for active state */
  font-weight: bold; /* Optional: make the text bold */
}

/* Optional: Hover effect for better UI feedback */
.filterbutton:hover {
  background-color: #e6f7ff;
  color: #008AC7;
}



.details-container{
  display: flex;
  background-color: #f0f1ec;
}

.detail-item {
  white-space: nowrap; /* Prevent breaking into multiple lines */
  font-size: 14px; /* Adjust font size */
  color: #333; /* Text color */
  border-radius:30px;
  border: 1px solid #FFF;
  background-color: #f3f4f0;
  padding: 8px;
}

.water-type {
  box-shadow: none; /* No shadow by default */
  transition: all 0.3s ease;
}

.water-type:hover {
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 60px; /* Rounded corners */
}

.touchpreviewnumber{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #3C9AF3;
  color: #FFF;
  font-size: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 10px;
}

.image-container {
  width: 80%;
  padding: 10px;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
}


.nmpboostbackground{
  background: linear-gradient(25deg, #008AC7 1%, #FFF 99%);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 0 32px 0 rgba(35, 0, 76, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

}

