.accordion-item {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}


.accordion-button:not(.collapsed) {
  color: #878787;
  background-color: #FFF;
}


.accordion-button.active-header {
  background-color: #008ac7; 
  color: #fff; 
  border-color: #007bb5; 
}

.accordion-button {
  background-color: #f8f9fa; /* Light background for inactive state */
  color: #878787; /* Dark text color */
  border: none !important; /* Border color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.accordion-button:not(.collapsed)::after {
  display: none !important;
}

.accordion-button::after{
  background-image: none !important;
}


.address-card.selected {
  background-color: #e6f7ff; 
}

.steps{
  width: 20px;
  height:20px;
  justify-content: center;
  align-items: center;
  display: flex; 
  background-color:#f8fbfe;
  color:#008AC7;
  border: 1px solid #008AC7;
}

.saveanddelivery{
    color: #fff;
    background-color: #008ac7;
    border-radius: 8px;
    
    border: none;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    display: flex
;
}

.saveanddelivery:hover {
  color: #008ac7;
  background-color: transparent;
  border-radius: 8px 16px;
  
  border: none;
  border: 1px solid #008ac7;
  padding: 8px;
  justify-content: center;
  align-items: center;
  display: flex
}



.cancel{
  font-weight: 600;
  background-color: #FFF;
  border: 0;
  padding: 10px 20px;
  color: #008AC7;
}

.cancel:hover{
  font-weight: 600;
  background-color: #FFF;
  border: 0;
  padding: 10px 20px;
  color: #008AC7;
}

.cancel:active{
  font-weight: 600;
  background-color: #FFF;
  border: 0;
  padding: 10px 20px;
  color: #008AC7;
}


/* Ensure the accordion header remains visible when active */
#flush-headingTwo .accordion-button:not(.collapsed) {
 background-color: #FFF !important;
 color: black;
}

.customPriceCard{
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  padding: 10px;
  overflow-y: auto; /* Add scrollbar if needed */
}




