/* wrapper */
.banner-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-desktop { display: block; position: relative; }
.banner-mobile { display: none; position: relative; }

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .banner-desktop { display: none; }
  .banner-mobile { display: block; }
}
